<% provide(:title, "About") %>

<h1>About us</h1>

<div class="row">
    <div class="col-md-9 col-md-offset-2">
        
        <h3>The Team!</h3>
      <blockquote>
          We are a small company but high on quality.
       </blockquote>
        <blockquote>
          Emer Thornbury is a Ruby on Rails developer with a passion for usability.
       </blockquote>
        <blockquote>
          Tom Thornbury is a Graphic Designer with a lot of awards behind him. His work speaks for itself.
       </blockquote>
       
    </div>
</div>