<% provide(:title, 'Request Type Edit') %>
<h1>Editing request_type</h1>

<%= render 'form' %>

<%#= link_to 'Show', @request_type, :class => 'btn btn-default' %> |
<%= link_to 'Back', request_types_path, :class => 'btn btn-default' %>
