<footer class="footer">
  <small>
    Created by 
    <a href="https://ie.linkedin.com/in/emerthornbury" class="myA">Emer Thornbury. </a>

     Heroku deployment can be seen <a href= "https://hr-et.herokuapp.com" class="myA" target=_blank >here!</a>
  
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
       <li><a href="https://www.google.ie" target=_blank>Google</a></li>
      </ul>
  
  </small>
</footer>
